page{
	width: 100%;
	height: 100%;
	background-color:#F40026 ;
}
.main-container{
	width: 100%;
	height: 100%;
	.header .left {
		font-size:36upx;
		.uni-icons{
			font-size:42upx!important;
		}
	}
}
// 弹框样式
.custom-view{
		overflow: hidden;
		z-index: 999;
		display: flex;
		flex-direction: column;
		align-items: center;
		.hongbao{
			background-color: #ffd8ae;
			width: 500rpx;
			// height: 400rpx;
			border-radius: 6rpx;
			.top{
				text-align: center;
				padding: 100rpx 80rpx 0 ;
				height: 400rpx;
				color: #FEDCAC;
				font-szie:30px;
			}
			.pointTxt{
				color: #862824;
				text-align: center;
				font-size: 32upx;
				padding: 100upx 100upx 20upx 100upx;
			}
			.bottom{
				margin-top: 60rpx;
				text-align: center;
				padding-bottom: 20upx;
				display: inline-block;
				width: 100%;
				button{
					background-color: #ffd8ae;
					width: 50%;
					border: none;
					text-align: center;
					float: left;
					box-shadow: none;
					line-height: 112upx;
					height: 112upx;
					color: rgba(0, 0, 0, 0);
					&::after{
						display: none;
					}
					image{
						height: 112upx;
					}
				}
			}
			.pointTxt{
				
			}
		}
		.cancel{
			margin-top: 40rpx;
			width: 60rpx;
			height: 60rpx;
		}
	}